.tableWrapper {
    width: 80%;
    min-height: 1vh !important;
    padding-top: 10vh;
}

.tableBg {
    background-image: url("../../assets/bg.jpg");
    background-repeat: repeat;
}

.link {
    color: inherit;
    text-decoration: none;
}

.card {
    margin-bottom: 20px;
}